    <div class="sort-order" data-option-key="sortBy">
        <span>Show:</span>
        <ul class="pills">
            <li><a href="{{space.permalink}}" data-option-value="original-order" class="likes {% if filter == "own" %}{% else %}{% if sort == "likes" %}{% else %}active{% endif %}{% endif %}">latest first</a></li>
            <li><a href="{{space.permalink}}?sort=likes" data-option-value="number" class="popular {% if sort == "own" %}likes{% endif %}">popular first</a></li>
            {% if current_user %}<li><a href="{{space.permalink}}?filter=own" class="{% if filter == "own" %}active{% endif %}">my entries</a></li>{% endif %}
        </ul>
    </div>

    {% if space.ideas != empty %}
    <div id="index">
        <div id="space-description">{{space.summary | markdown}}</div>
        
        <ul id="entries-gallery">
            {% paginate space.ideas by 15 %}
            {% for idea in paginate %}
            <li class="photo"><a href="{{idea.permalink}}" title="link to full page for {{idea.title}}"><img src="{{idea.images.first.medium_square}}" alt="Image for {{idea.title}}" width="157" height="157" /><h2 class="name">{{idea.title}}</h2>
            <span class="like-count"><span class="heart">&hearts;</span> <span class="number">{{idea.likes}}</span></span></a></li>
            {% endfor %}
            {% endpaginate %}
        </ul>

        <!-- Paging -->
        <!--
        <div id="page-navigation">
            <a href="{{ pagination.next_url }}" title="#" class="next">next page</a>
            <a href="{{ pagination.previous_url }}" title="#" class="prev">previous page</a>
        </div>
        -->
    </div>
    {% else %}

    <div class="empty">
      <h1>There aren't any photos here yet!</h1>
      {% if current_user %}
      <p>be the first to add photo by using the 'add a new idea' button</p>
      {% else %}
      <p>login with twitter or facebook to be the first to add a photo</p>
      {% endif %}
    </div>

    {% endif %}