    <!-- User block -->
    <div id="sort-order">
        <span>Order by:</span>
        <ul class="pills">
            <li class="active"><a href="#">latest</a></li>
            <li><a href="#">popular</a></li>
            <li><a href="#">most comments</a></li>
        </ul>
    </div>
    
    {% if rusic.ideas != empty %}
    <ul id="entries-gallery">
        {% paginate rusic.ideas by 15 %}
        {% for idea in paginate %}
        <li class=""><a href="{{idea.permalink}}" title="link to full page for {{idea.title}}"><img src="{{idea.images.first.medium_square}}" alt="Image for {{idea.title}}" width="157" height="157" /><h2>{{idea.title}}</h2>
        <span class="like-count"><span class="heart">&hearts;</span> {{idea.likes}}</span></a></li>
        {% endfor %}
        {% endpaginate %}
    </ul>
    {% endif %}
    
    <!-- Paging -->
    <div id="page-navigation">
        <a href="#" title="#" class="next">next page</a>
        <a href="#" title="#" class="prev">previous page</a>
    </div>